@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #561C24;
    --cor-secundaria: #E8D8C4;
    --cor-terciaria: #C7B7A3;
    --cor-hover: #6D2932;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 5rem;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link::after{
    display:block;
    content: '';
    border-bottom: solid 3px var(--cor-hover);
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.cabecalho__menu__link:hover::after{
    transform: scaleX(1);
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.apresentacao__conteudo{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--cor-primaria);
    text-align: center;
    border-radius: 20rem;
    padding: 1rem;
    text-decoration: none;
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.15);
}
.apresentacao__links__navegacao:hover{
    background-color: var(--cor-terciaria);
}
.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 1.5rem;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.3rem;
    font-weight: 400;
}

.apresentacao__img{
    width: 70%;
    border-radius: 1rem;
    border: solid;
}

.apresentacao__img__about{
    width: 40%;
    border-radius: 30rem;
    border: solid;
}

.menu-toggle{
    display: none;
    position: absolute;
    cursor: pointer;
    left: 20px;
    top: 25px;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    border: solid 1px var(--cor-terciaria);
    border-radius: 5px;
    height: 40px;
    padding: 10px 20px;
    z-index: 10;
}

.menu-toggle:hover{
    background-color: var(--cor-hover);
}

.menu-toggle i:nth-of-type(2) {
    display: none;
}

.cabecalho__menu__toggle {
    display: none;
    flex-direction: column;
    background-color: var(--cor-hover);
    align-items: center;
}

.cabecalho__menu__link__toggle{
    padding-top: 3rem;
    font-family: var(--fonte-secundaria);
    font-size: 1.10rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link__toggle::after{
    display:block;
    content: '';
    border-bottom: solid 3px var(--cor-primaria);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.cabecalho__menu__link__toggle:hover::after{
    transform: scaleX(1);
}

.container__card{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.project__card{
    display: flex;
}

.image__card{
    width: 100%;
    height: 100%;
    display: inline-flex;
}

.image__card img{
    width: 100%;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
    overflow: hidden;
}

.card__text__button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--cor-hover);
    border-radius: 0 1rem 1rem 0;
    max-height: 100%;
    width: 100%;
}

.text__card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--cor-hover);
    font-family: var(--fonte-secundaria);
    border-radius: 0 1rem 1rem 0;
}

.titulo__card{
    font-size: 1.3rem;
    font-weight: 700;
}

.buttom__card{
    padding: 0 0 1rem 1rem;
    background-color: var(--cor-hover);
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    border-radius: 0 1rem 1rem 0;
}

.buttom__card button{
    padding: 10px;
    border-radius: 5px;
    border: var(--cor-terciaria) 2px solid;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    cursor: pointer;
    font-weight: 700;
}

.buttom__card a{
    text-decoration: none;
}

.repository__button{
    background-color: rgb(36, 35, 35);
    display: flex;
    gap: 0.5rem;
    align-items: center;
    align-content: center;
}

.repository__button:hover{
    background-color: rgb(63, 62, 62);
}

.link__button{
    background-color: var(--cor-primaria);
    display: flex;
    gap: 0.5rem;
    align-items: center;
    align-content: center;
}

.link__button:hover{
    background-color: var(--cor-hover);
}

.daniel__card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: var(--cor-hover);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 16px 32px rgba(0, 0, 0, 0.15);
    margin-top: 1rem;
}

.daniel__card__buttom, 
.form__buttom{
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 700;
    border: var(--cor-primaria) solid 2px;
    color: var(--cor-primaria);
    cursor: pointer;
}

.daniel__card__buttom:hover,
.form__buttom:hover{
    background-color: var(--cor-terciaria);
}

.daniel__card__titulo{
    font-size: 1.9rem;
    font-family: var(--fonte-primaria);
    font-weight: 700;
}

.daniel__card__texto{
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

.tecnologias__usadas{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.tecnologias__usadas p{
    border: var(--cor-terciaria) solid 1px;
    padding: 5px 8px 5px 8px;
    border-radius: 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    background-color: var(--cor-primaria);
    font-weight: 700;
}

.tecnologias__usadas p:hover{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
}

.floating-container {
    position: relative;
    width: 100%;
    height: 50vh;
}

.floating-item {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 3rem;
    color: var(--cor-terciaria);
    cursor: grab;
    user-select: none;
    transition: transform 0.2s ease-out;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

.titulo__aviso{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.aviso{
    font-size: 1.5rem;
    cursor: pointer;
}

.mensagem__aviso{
    display: none;
    font-family: var(--fonte-secundaria);
    font-size: 0.7rem;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    padding: 0.5rem;
    border-radius: 1rem;
    font-weight: 700;
    z-index: 100;
}

.entre__em__contato{
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--cor-hover);
    padding: 2rem;
    border-radius: 1rem;
    border: var(--cor-terciaria) solid 2px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 16px 32px rgba(0, 0, 0, 0.15);
}

.entre__em__contato > form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.entre__em__contato > form > div{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

input,
textarea {
  outline: none;
  border: none;
  background: none;
}

label{
    font-family: var(--fonte-primaria);
}

input,
textarea {
  padding: 10px;
  border: var(--cor-secundaria) solid 1px;
  border-radius: 8px;
  font-size: small;
  font-family: var(--fonte-primaria);
  width: 100%;
  box-sizing: border-box;
  color: var(--cor-terciaria);
  background-color: var(--cor-primaria);
}

input:focus,
textarea:focus {
  border: var(--cor-terciaria) solid 1px;
  box-shadow: 0 0 4px;
}

input::placeholder,
textarea::placeholder {
  color: var(--cor-secundaria);
  font-style: italic;
  font-size: small;
  opacity: 40%;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: var(--cor-primaria) 0 0 0px 1000px inset !important;
  -webkit-text-fill-color: var(--cor-terciaria) !important;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInLeft 0.6s ease forwards;
}

@media (max-width: 1344px){
    .apresentacao{
        flex-direction: column;
    }
    .cabecalho{
        padding: 8% 0 8% 0;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao__links{
        width: 70%;
    }
    .apresentacao__img__about{
        width: 40%;
    }
    .apresentacao__conteudo{
        width: 100%;
    }
    .project__card{
        max-width: 100%;
    }
    .daniel__card{
        width: 60%;
    }
}

@media (max-width: 1230px){
    .container__card{
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    
    .project__card{
        flex-direction: column;
        border-radius: 1rem;
    }
    
    .image__card img{
        width: 100%;
        height: 100%;
        border-radius: 1rem 1rem 0 0;
        border: 0;
    }
    
    .card__text__button{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--cor-hover);
        border: 0;
        border-radius: 0 0 1rem 1rem;
        max-height: 100%;
    }
    .buttom__card{
        border-radius: 1rem;
    }
    .tecnologias__usadas p{
        background-color: var(--cor-terciaria);
        color: var(--cor-primaria);
    }
}

@media (max-width: 780px){
    .cabecalho{
        background-color: var(--cor-hover);
        padding: 2.8rem 0 2.8rem 0;
    }
    .cabecalho__menu{
        display: none;
        flex-direction: column;
        align-items: center;
    }
    .menu-toggle{
        display: block;
    }
    .apresentacao{
        gap: 1rem;
    }
    .apresentacao__conteudo{
        gap: 2rem;
        margin: 2rem 0 2rem 0;
    }
    .apresentacao__conteudo__titulo{
        font-size: 1.40rem;
    }
    .apresentacao__conteudo__texto{
        font-size: 1rem;
        text-align: justify;
    }
    .apresentacao__links{
        width: 100%;
        gap: 1rem;
    }
    .apresentacao__links__navegacao{
        width: 50%;
    }
    .apresentacao__img__about{
        width: 80%;
    }
    .apresentacao__img{
        width: 80%;
    }
    .daniel__card{
        width: 100%;
    }
    .daniel__card__titulo{
        font-size: 1.6rem;
    }
    .daniel__card__texto{
        font-size: 1rem;
        font-family: var(--fonte-secundaria);
        font-weight: 400;
    }
    .mensagem__aviso{
        position: absolute;
        left: 70%;
        margin-right: 1rem;
        text-align: center;
    }
}

.uianimated {
    position: relative;
    transform: translateY(60px);
    opacity: 0;
    transition: all 1.2s ease;
}

.uianimated.bottom {
    transform: translateY(-60px);
}

.uianimated.left {
    transform: translateY(0px);
    transform: translateX(60px);
}

.uianimated.right {
    transform: translateY(0px);
    transform: translateX(-60px);
}

.uianimated.active {
    transform: translateY(0px);
    transform: translateX(0px);
    opacity: 1;
}

.uianimated.active.delay-100 {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}

.uianimated.active.delay-200 {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}

.uianimated.active.delay-300 {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}

.uianimated.active.delay-400 {
    -webkit-transition-delay: 400ms;
    -moz-transition-delay: 400ms;
    -o-transition-delay: 400ms;
    transition-delay: 400ms;
}

.uianimated.active.delay-500 {
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}

.uianimated.active.delay-600 {
    -webkit-transition-delay: 600ms;
    -moz-transition-delay: 600ms;
    -o-transition-delay: 600ms;
    transition-delay: 600ms;
}

.uianimated.active.delay-700 {
    -webkit-transition-delay: 700ms;
    -moz-transition-delay: 700ms;
    -o-transition-delay: 700ms;
    transition-delay: 700ms;
}

.uianimated.active.delay-800 {
    -webkit-transition-delay: 800ms;
    -moz-transition-delay: 800ms;
    -o-transition-delay: 800ms;
    transition-delay: 800ms;
}

.uianimated.active.delay-900 {
    -webkit-transition-delay: 900ms;
    -moz-transition-delay: 900ms;
    -o-transition-delay: 900ms;
    transition-delay: 900ms;
}

.uianimated.active.delay-1000 {
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;
}

#sobremim { background-color: var(--cor-hover); }
#tecnologias { background-color: var(--cor-hover); }